<%= form_for(@hafe) do |f| %>
  <% if @hafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hafe.errors.count, "error") %> prohibited this hafe from being saved:</h2>

      <ul>
      <% @hafe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :have_category %><br />
    <%= f.text_field :have_category %>
  </div>
  <div class="field">
    <%= f.label :have_place %><br />
    <%= f.text_field :have_place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
