<!DOCTYPE html>
<html>
<head>
  <title>Havegive</title>
  <%= stylesheet_link_tag :all %>
<link href='http://fonts.googleapis.com/css?family=Pacifico&v2' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/omnisocial.css"/>
<link href='http://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic' rel='stylesheet' type='text/css'>
<link href='/stylesheets/pepper-grinder/jquery-ui-1.8.16.custom.css' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>  
<%= csrf_meta_tag %>
<%= yield :head %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag :all %>
<%= yield :scripts %> 
</body>

</html>
